body {
    font-family: 'Times New Roman', serif;
}

.container {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.wrapper {
    border: 1px solid gray;
    border-radius: 5px;

    padding: 10px;
    margin-bottom: 10px;

    max-width: 70%;
    
    background-color: lightgray;
}

.output {
    min-height: 200px;
    padding: 10px;
    border: 1px solid gray;
    background-color: lightgray;
    border-radius: 5px;

    max-width: 70%;
}

.input {
    padding: 5px 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

h1:first-child {
 margin-top: 0;
}

h1, h2, h3 {
    margin-top: 3px;
    margin-bottom: 7px;
}

.flex-first {
    flex: 3;
}

.flex-second {
    flex: 7;
}

.star {
    cursor: pointer;
    font-size: 130%;
    border-radius: 30px;
    text-shadow: 0px 0px 1px black;
}

.star-full {
    color: gold;
}

.heading {
    border-bottom: 1px solid gray;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.headingFound {
    font-weight: bold;
    margin-top: 0;
}

@media only screen and (max-width: 1000px) {
    .wrapper, .output {
        max-width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .flex-container {
        flex-direction: column;
    }
}